.color-amarillo{
    color: #fdac41;
    text-shadow: 0 0 .25rem #fdac41;
}
.color-verde{
    color: #39da8a;
    text-shadow: 0 0 .25rem #39da8a;
}
.color-rojo{
    color: #ff5b5c;
    text-shadow: 0 0 .25rem #ff5b5c;
}

.btn-s-rojo{
    background-color: #4a3848;
    border-color: #4a3848;
    color: #ff5b5c;
}

.btn-s-verde{
    background-color: #2b4c4f;
    border-color: #2b4c4f;
    color: #39da8a;
}

.btn-s-close{
    background-color: #313c53;
    border-color: #313c53;
    color: #7d8fb4;
    border-radius: 10px;
}

.round-green{
    background-color: #2b4c4f;
    color: #39da8a;
    border-radius: 30px;
}

.round-blue{
    background-color: #30405f;
    color: #5a8dee;
    border-radius: 30px;
}

.round-yellow{
    background-color: #4a4544;
    color: #fdac41;
    border-radius: 30px;
}

.btn-s-close:hover{
    background-color: #313c53;
    border-color: #313c53;
    color: #7d8fb4;
    border-radius: 10px;
    box-shadow: 0 0 .25rem #7d8fb4;
}

.btn-s-dark{
    background-color: #343c4e;
    border: line;
    border-color: #717784;
    color: #adb7cc;
}

.btn-s-dark:hover{
    background-color: #69809a;
    border: line;
    border-color: #69809a;
    color: #fff;
}

.btn-p-dark{
    background-color: #343f58;
    border: line;
    border-color: #858c9c;
    color: #a5adc2;
}

.btn-p-dark:hover{
    background-color: #69809a;
    border: line;
    border-color: #69809a;
    color: #fff;
    box-shadow: 0 0 .25rem #69809a;
}

.nav-custom{
    background-color: #283144;
    color: #d8deea;
}

.btn-s-amarillo{
    background-color: #4a4544;
    border-color: #4a4544;
    color: #fdac41;
}

.btn-s-azul{
    background-color: #30405f;
    border-color: #5a8dee;
    color: #5a8dee;
    border-style: solid;
    border-width: 1px;
}

.btn-p-azul{
    background-color: #467bdf;
    border-color: #467bdf;
    color: #ffffff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.2);
}

.btn-p-azul:hover {
    background-color: #5a8dee;
    border-color: #5a8dee;
    color: #ffffff;
    box-shadow: 0 0 .25rem #ffffff;
}

.btn-s-azul:hover {
    background-color: #5a8dee;
    border-color: #5a8dee;
    color: #ffffff;
    box-shadow: 0 0 .25rem #5a8dee;
}

.btn-s-rojo:hover{
    background-color: #ff5b5c;
    border-color: #ff5b5c;
    color: #ffffff;
    box-shadow: 0 0 .25rem #ff5b5c;
}

.btn-s-amarillo:hover{
    background-color: #fdac41;
    border-color: #fdac41;
    color: #ffffff;
    box-shadow: 0 0 .25rem #fdac41;
}

.btn-s-verde:hover{
    background-color: #39da8a;
    border-color: #39da8a;
    color: #ffffff;
    box-shadow: 0 0 .25rem #39da8a;
}

.fg-custom{
    background-color: #283144;
    color: #d8deea;
    border-radius: 15px;
}

.fg-custom-1{
    background-color: #283144;
    color: #d8deea;
    border-radius: 0 15px 15px 15px;
}

.bg-custom{
    background-color: #1b212e;
    color: #d8deea;
}

.input-custom{
    background-color: #252d3f;
    color: #a1b0cb;
    border-color: #a1b0cb;
    border: line;
}

.input-custom2{
    background-color: #2d374d;
    color: #aebedd;
    border-color: #a1b0cb;
    border: line;
}

.input-custom2:focus{
    background-color: #303b52;
    color: #aebedd;
    border-color: #a1b0cb;
    border: line;
    box-shadow: 0 0 .5rem #5a88ec;
}

.input-custom:disabled{
    background-color: #333a4b;
    color: #a1b0cb;
    border-color: #198754;
    border: line;
}

.input-custom:focus{
    background-color: #283144;
    color: #d8deea;
    border-color: #a1b0cb;
    border: line;
    box-shadow: 0 0 .7rem #375391;
}

.table-custom-title{
    background-color: #283144;
    color: #ffffff;
}

tbody tr:hover{
    background-color: #2d374d;
    color: #ffffff;
    border-top: none;
}

tbody tr:hover th{
    background-color: #2d374d;
    color: #ffffff;
    border-top: none;
}

.table-custom-body{
    background-color: #283144;
    color: #a1b0cb;
}

.table-custom-body th{
    background-color: #283144;
    color: #cbd5e7;
}
/*--bs-nav-tabs-link-active-bg*/
.nav-tabs {
    border-bottom: #283144 solid 1px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #283144;
    color: #ffffff;
    border: #283144 solid 1px;
}

/* --bs-nav-tabs-link-active-bg */
.nav-link.active, .nav-link.active:focus {
    background-color: #283144;
    border-color: #283144;
    color: #ffffff;
    /*font shadow*/
}

/* ONLY and only for .nav-link and .active at the same time*/

.nav-link.active:hover {
    background-color: #2f3950;
    border-color: #2f3950;
    color: #ffffff;
}

/* .nav-tabs .nav-link */
.nav-tabs .nav-link {
    background-color: #20283a;
    color: #a8a8a8;
    border: #20283a solid 1px;
}

/* ONLY for .nav-link which are not .active*/
.nav-tabs:hover .nav-link:hover {
    background-color: #283144;
    color: #ffffff;
    border: #283144 solid 1px;
    box-shadow: 0 0 .25rem #4f77ce;
}

.form-floating input.form-control {
    background-color: #283144;
    color: #ffffff;
    border: #ffffff solid 1px;
    box-shadow: 0 0 .25rem #4f77ce;
}

.form-floating input.form-control:focus {
    background-color: #283144;
    color: #ffffff;
    border: #ffffff solid 1px;
    box-shadow: 0 0 .5rem rgb(208, 227, 252);
}

